{{extend 'layout.html'}}
<table border="1" class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Jogo</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>
                <a href="{{=URL('estoque','estocar')}}">Estocar</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{for item in estoque :}}
            <tr>
                <td>
                    <img width=100 src="{{=URL('download',args=[item.jogo.capa])}}"/>
                </td>
                <td>
                    {{=item.jogo.titulo}}
                </td>
                <td>R$ {{=item.preco}}</td>
                <td>{{=item.quantidade}}</td>
                <td>
                    <a href="{{=URL('estoque','alterar',args=[item.id])}}">Editar</a>
                    |
                    <a href="{{=URL('estoque','remover',args=[item.id])}}">Remover</a>
                </td>
            </tr>
        {{pass}}
    </tbody>
</table>
